.App {
  margin: 0 auto;
  width: 550px;
  /* min-height: 100vh; */
}

.App-Controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.App-BaseParams {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.App-Stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.App-Skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
